APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=trading_bot
DB_USER=postgres
DB_PASSWORD=change_me

BINANCE_API_KEY=
BINANCE_API_SECRET=

PRIMARY_SYMBOL=BTCUSDT
PRIMARY_INTERVAL=15m

ENGINE_MODE=REALTIME
TRADE_MODE=TESTNET
TRADING_STATE=OFF
LIVE_ARMED=false
